install : 

sudo apt-get install postfix-ldap


  configure main.cf

virtual_alias_maps = ldap:/etc/postfix/ldap-aliases.cf
virtual_mailbox_domains = ldap:/etc/postfix/ldap-domains.cf
virtual_mailbox_maps = ldap:/etc/postfix/ldap-users.cf



  

configure ldap-aliases.cf 

server_host = ldap://192.168.30.27
search_base = dc=qugates,dc=in
query_filter = (mail=%s)
result_attribute = mail
bind = yes
bind_dn = uid=postfix,ou=services,dc=qugates,dc=in
bind_pw = postfixpassword



  
configure ldap-domains.cf:

server_host = ldap://192.168.30.27
search_base = dc=qugates,dc=in
query_filter = (|(mail=*@%s))
result_attribute = mail
bind = yes
bind_dn = uid=postfix,ou=services,dc=qugates,dc=in
bind_pw = postfixpassword


configure ldap-users.cf:

server_host = ldap://192.168.30.27
search_base = dc=qugates,dc=in
query_filter = (&(objectClass=person)(mail=%s))
result_attribute = uid
bind = yes
bind_dn = uid=postfix,ou=services,dc=qugates,dc=in
bind_pw = postfixpassword


  

  Install : sudo apt-get install dovecot-ldap

configure /etc/dovecot/dovecot-ldap.conf.ext

hosts = 192.168.30.27
dn = uid=dovecot,ou=services,dc=qugates,dc=in
dnpass = dovecotpassword
base = dc=qugates,dc=in
scope = subtree
user_attrs = uid=user,=home=/var/mail/%u,=mail=maildir:/var/mail/%u
user_filter = (&(objectClass=person)(uid=%u))
pass_attrs = uid=user,userPassword=password
pass_filter = (&(objectClass=person)(uid=%u))




configure dovecot.conf

passdb {
  driver = ldap
  args = /etc/dovecot/dovecot-ldap.conf.ext
}

userdb {
  driver = ldap
  args = /etc/dovecot/dovecot-ldap.conf.ext
}


RESTART 
sudo systemctl restart postfix
sudo systemctl restart dovecot



for plain login 

sudo nano /etc/dovecot/conf.d/10-auth.conf

disable_plaintext_auth = no
auth_mechanisms = plain login





Steps to configure ldap and dovecot to use plain password

sudo apt-get install dovecot-ldap

sudo nano /etc/dovecot/conf.d/10-auth.conf
disable_plaintext_auth = no
auth_mechanisms = plain login

passdb {
  driver = ldap
  args = /etc/dovecot/dovecot-ldap.conf.ext
}

userdb {
  driver = ldap
  args = /etc/dovecot/dovecot-ldap.conf.ext
}


sudo nano /etc/dovecot/dovecot-ldap.conf.ext
  
hosts = 192.168.30.27
dn = cn=admin,dc=qugates,dc=in
dnpass = your_admin_password
base = dc=qugates,dc=in
ldap_version = 3
auth_bind = yes

user_filter = (&(objectClass=posixAccount)(uid=%n))
pass_filter = (&(objectClass=posixAccount)(uid=%n))

user_attrs = homeDirectory=home,uidNumber=uid,gidNumber=gid
pass_attrs = uid=user,userPassword=password

# Set to plain since your LDAP is providing plain text passwords
default_pass_scheme = PLAIN

sudo systemctl restart dovecot




/etc/dovecot/conf.d/10-auth.conf
disable_plaintext_auth = no
auth_mechanisms = plain login

passdb {
  driver = ldap
  args = /etc/dovecot/dovecot-ldap.conf.ext
}

userdb {
  driver = ldap
  args = /etc/dovecot/dovecot-ldap.conf.ext
}



/etc/dovecot/dovecot-ldap.conf.ext
hosts = 192.168.30.27
dn = cn=admin,dc=qugates,dc=in
dnpass = your_admin_password
base = dc=qugates,dc=in
ldap_version = 3
auth_bind = yes

user_filter = (&(objectClass=posixAccount)(uid=%n))
pass_filter = (&(objectClass=posixAccount)(uid=%n))

user_attrs = homeDirectory=home,uidNumber=uid,gidNumber=gid
pass_attrs = uid=user,userPassword=password

default_pass_scheme = PLAIN




POSTFIX

sudo apt-get update
sudo apt-get install postfix ldap-utils libsasl2-modules


  sudo nano /etc/postfix/main.cf

# Enable SASL authentication
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth

# Specify LDAP server settings
ldap_bind_dn = cn=admin,dc=qugates,dc=in
ldap_bind_pw = your_admin_password
ldap_server_host = ldap://192.168.30.27:389  # Port 389 for LDAP, without SSL/TLS
ldap_version = 3

# Specify LDAP search base and query
ldap_search_base = dc=qugates,dc=in
ldap_query_filter = (&(objectClass=posixAccount)(uid=%s))

# Specify LDAP attributes
ldap_uid_attr = uid
ldap_password_attr = userPassword

# Disable LDAP encryption (not recommended for production)
ldap_start_tls = no



smtpd_sasl_local_domain = $myhostname
smtpd_sasl_security_options = noanonymous
broken_sasl_auth_clients = yes




https://docs.redhat.com/en/documentation/red_hat_enterprise_linux/9/html/deploying_mail_servers/assembly_mail-transport-agent_deploying-mail-servers#proc_configuring-postfix-as-an-outgoing-mail-server-to-relay-for-authenticated-users_assembly_mail-transport-agent
https://www.dev-eth0.de/2016/12/19/postfix_ldap/
https://docs.iredmail.org/active.directory.html
https://wiki.pedrono.fr/index.php/Formation_Postfix_-_Configuration_LDAP
https://afaghhosting.net/blog/postfix-virtual-hosting-with-ldap-backend-and-with-dovecot-as-imap-pop3-server-on-ubuntu-bionic-beaver-18-04-lts/











