install 

sudo apt-get install sasl2-bin libsasl2-modules-ldap


configure - /etc/default/saslauthd to use ldap

START=yes
MECHANISMS="ldap"
OPTIONS="-c -m /var/spool/postfix/var/run/saslauthd"


config - /etc/saslauthd.conf

ldap_servers: ldap://your.ldap.server
ldap_search_base: dc=your,dc=ldap,dc=base
ldap_filter: (uid=%u)



restart salslauthd 

sudo systemctl restart saslauthd


config - /etc/postfix/main.cf

smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_local_domain = $myhostname
broken_sasl_auth_clients = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth

smtpd_recipient_restrictions = permit_sasl_authenticated, permit_mynetworks, reject_unauth_destination
mynetworks = 127.0.0.0/8, 192.168.56.0/24

relay_domains = $mydestination, qugates.co




config - 

disable_plaintext_auth = no
auth_mechanisms = plain login



config - /etc/dovecot/conf.d/10-master.conf

service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
}


restart both dovecot and postfix - 

sudo systemctl restart dovecot
sudo systemctl restart postfix





Ensure Proper Permissions and Ownership

sudo mkdir -p /var/spool/postfix/var/run/saslauthd
sudo ln -s /var/run/saslauthd/mux /var/spool/postfix/var/run/saslauthd/mux
sudo chown root:sasl /var/spool/postfix/var/run/saslauthd/mux
sudo chmod 770 /var/spool/postfix/var/run/saslauthd/mux




TEST MAIL 

telnet your.mail.server 25
EHLO yourdomain.com
AUTH LOGIN
# Base64 encoded username
dXNlcm5hbWU=
# Base64 encoded password
cGFzc3dvcmQ=
MAIL FROM: <niroj@qugates.com>
RCPT TO: <shlok@qugates.co>
DATA
Subject: Test Email

This is a test email.
.
QUIT



to check logs -

sudo tail -f /var/log/auth.log
sudo tail -f /var/log/mail.log


